.first-info{
    background-image: url( '/static/images/plane1.jpg' ) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.flight {
    display: flex;
    background:#fff8dc;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.flight:hover {
    background: linear-gradient(135deg,#6394ff 0%,#ff7f00 100%);
    color: white;
}

.ico-flight {
    margin: auto;

}

.iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.center {
    margin: auto;
}

.type-title {
    text-align: left;
}
h2 {
    margin-top: 1.0rem;
    margin-bottom: 0.5rem;
}
.display-title {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}
.ie-bold {
    font-weight: 700;
}

 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-small-title {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1re}