{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<!--Berkan Hakseven-->
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

</head>

<body class="first-info" >






<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
</body>
{% endblock %}