
{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Choose Seat</title>
</head>


<body>


<div class="container shadow my-5 p-5 mb-5 bg-white rounded">
    <div class=" row">
            <div class="card-body p-5">
                <form action="/buyticket/{{ vals }}" method="POST">
                    {% csrf_token %}


                    {% for i in count %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label><span class="hidden-xs"></span> </label>
                                <div class="form-inline">
                                    {% if flight_class == "economy" %}

                                    <select class="form-control" style="width:45%" name="{{i}}selectedseat" id="selectedseat">
                                        {% for i in ecoseats %}
                                        <option value="{{ i.seat }}">{{ i.seat }}</option>
                                        {% endfor %}
                                    </select>
                                    <span style="width:10%; text-align: center"> <h2>/</h2> </span>
                                    <input type="text" class="form-control" name="{{i}}name" placeholder="Traveler Name">
                                    <input type="text" class="form-control" name="{{i}}tc" placeholder="Traveler TC">

                                    {% endif %}



                                    {% if flight_class == "business" %}

                                    <select class="form-control" style="width:45%" name="selectedseat" id="selectedseat">
                                        {% for i in busiseats %}
                                        <option value="{{ i.seat }}">{{ i.seat }}</option>
                                        {% endfor %}
                                    </select>
                                    <span style="width:10%; text-align: center"> <h2>/</h2> </span>
                                    <input type="text" class="form-control" name="name" placeholder="Traveler Name">
                                    <input type="text" class="form-control" name="tc" placeholder="Traveler TC">



                                    {% endif %}

                                    {% if flight_class == "first" %}

                                    <select class="form-control" style="width:45%" name="selectedseat" id="selectedseat">
                                        {% for i in firstseats %}
                                        <option value="{{ i.seat }}">{{ i.seat }}</option>
                                        {% endfor %}
                                    </select>
                                    <span style="width:10%; text-align: center"> <h2>/</h2> </span>
                                    <input type="text" class="form-control" name="name" placeholder="Traveler Name">
                                    <input type="text" class="form-control" name="tc" placeholder="Traveler TC">

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    <input type="submit" value="Submit" class="btn btn-success btn-block">
                </form>



            </div>
    </div>


    <div class="row">
        
        <img src="/static/images/Seats.png">

    </div>
    




</div>
</body>



{% endblock %}