{% extends 'home/main.html' %}
{% load static %}
<!--İrfan Ege Saray-->
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
    .first-info{
    background-image: url( '/static/images/plane1.jpg' ) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
	}

    </style>

</head>
<body class="first-info">

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="container border p-3 my-3 bg-warning text-white">
            <div id="carouselExampleControls" class="carousel slide">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div style="text-align: center;">
                            <h3>Slide to see your credit cards</h3>
                        </div>
                    </div>
                    {% for mycreditcards in mycreditcards %}
                    <div class="carousel-item">
                        <div style="text-align: center;">
                            <p>{{ mycreditcards.cardName }}</p>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <a href="{% url 'delete_creditcard' mycreditcards.id %}" name="delete" class="btn btn-danger" role="button">Delete Card</a>
                            </form>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>




<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="card border  my-4 bg-warning text-white">
            <div class="card-body p-4">
                <form role="form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Name to store your card</label>
                        <div class="input-group">
                            {{form.cardName}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Full name (on the card)</label>
                        <div class="input-group">
                            {{form.cardHolderName}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Card number</label>
                        <div class="input-group">
                            {{form.cardNumber}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label><span class="hidden-xs">Expiration Date</span> </label>
                                <div class="form-inline">
                                    <!--<select class="form-control" style="width:45%">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                    <span style="width:10%; text-align: center"> / </span>
                                    <select class="form-control" style="width:45%">
                                        <option>2021</option>
                                        <option>2022</option>
                                        <option>2023</option>
                                        <option>2024</option>
                                        <option>2025</option>
                                        <option>2026</option>
                                        <option>2027</option>
                                        <option>2028</option>
                                    </select>-->
                                    {{form.expiration}}
                                    <small id="expirationhelp" class="form-text text-muted">Please enter your expiration date in xx/xx form.(exp: 06/24)</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>CVV</label>
                                {{form.cvv}}
                                {{form.registereduser}}
                            </div>
                        </div>
                    </div>
                    <button class="subscribe btn btn-success btn-block" type="submit"> Confirm</button>
                </form>
            </div>
        </div>

    </div>
    <div class="col-sm-4"></div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
{% endblock %}

