{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>response</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">

</head>

<body class="first-info">

{% if requested_user_type.user_type == 'A' %}
<div class="container border p-5 my-5 rounded" style="background-color:#ff9f40">


    <center><p><font face="tahoma" size="5" color="maroon"><b>Feedbacks</b></font></p></center>
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th>user id</th>
            <th>author</th>
            <th>type</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for i in feedbacks %}
        <form action="" method="POST">
            {% csrf_token %}
            <tr>
                <td>{{ i.registereduser.id }}</td>
                <td>{{ i.registereduser }}</td>
                <td>{{ i.type }}</td>
                <td><a href="{% url 'response_feedback' i.id %}" name="choose" class="btn btn-danger" role="button">Respond</a>
                </td>
            </tr>
        </form>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endif %}
</body>
{% endblock %}
